<table *ngIf="book.volumeInfo.imageLinks?.smallThumbnail !== undefined">
    <tr *ngIf="book.volumeInfo.imageLinks !== undefined">
        <td><img mat-card-image [src]="book.volumeInfo.imageLinks.smallThumbnail" 
          alt="book.volumeInfo.title" height="192" width="128"></td>
        <td><div class="art-header">
            <h4>{{book.volumeInfo.title}}</h4>
          </div>
          <p><b>Author:</b> {{authors}}</p>
          <p><b>Category:</b> {{categories}}</p>
          <p><ng-template #t let-fill="fill">
              <span class="star" [class.full]="fill === 100">
                <span class="half" [style.width.%]="fill">&hearts;</span>&hearts;
              </span>
            </ng-template>st
            
            <ngb-rating [(rate)]="book.volumeInfo.averageRating" [starTemplate]="t" [readonly]="true" max="5">

            </ngb-rating> - {{book.volumeInfo.averageRating}} avg rating</p>
          <button type="button" mat-raised-button class="single-book-button" (click)=(getDeatails())>Details</button>
      </td>
    </tr>
</table>