.example-card {
    max-width: 500px;
  }
  .star {
    position: relative;
    display: inline-block;
    font-size: 1.25rem;
    color: #d3d3d3;
  }
  .full {
    color: orange;
  }
  .half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: orange;
  }

  .single-book-button {
    display: flex;
    width: 60%;
    margin: 10px auto 20px;
    background-color: #2E8B57;
    color: white;
    justify-content: center;
    text-align: center;
    margin-left: 40px;
    margin-top: 0px
  }