<mat-card class="example-card">
    <div style="margin-bottom: -32px" fxLayout="row">
        <img mat-card-image [src]="book.volumeInfo.imageLinks.smallThumbnail" alt="Book avatar" fxFlex="27">
        <span fxFlex="10"></span>
        <mat-card-content>
          <h3>{{book.volumeInfo.title}}</h3>
            <h5>by {{book.volumeInfo.authors[0]}}</h5>
            <p>Category: {{book.volumeInfo.categories[0]}}</p>
            <pm-star [rating]="book.volumeInfo.averageRating"></pm-star>
          <button mat-raised-button class="center-button" style="margin-top: 10px">Details</button>
          </mat-card-content>
      </div>
    </mat-card>