.example-form {
    margin: auto;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    margin: auto;
    width: 100%;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  