.example-form {
    position: relative;
    margin: auto;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    margin: auto;
    width: 100%;
  }

  .center {
    display: block;
    width: 50%;
    margin: 10px auto 20px;
  }
  